@font-face {
    font-family: 'Lexend Deca', sans-serif;
    src: url('../fonts/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: 'Space Mono', monospace;
    src: url('../fonts/SpaceMono-Regular.ttf');
}