$fontHeading: 'Space Mono',
monospace;
$fontBody: 'Lexend Deca',
sans-serif;
$for-mobile: 576px;
$for-tablet: 768px;
$for-large-tablet: 992px;
$for-desktop: 1200px;
$for-large-desktop: 1400px;
$text-color: #939CAA;
$main-color: #FFFFFF;
$button-color: #FCB72B;
$dark-navy: #495567;
$light-grey: #e5ecf4;
$snow: #f2f5f9;
$light-yellow: #fff4df;