.site-header {
    padding: 22px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    & .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & .logo__img {
            display: block;
            margin-right: 58px;
        }
        & .header__burger {
            display: none;
        }
        & .navbar {
            display: flex;
            align-items: center;
            flex: 1;
            &__list {
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
            }
            &__item:not(:last-child) {
                margin-right: 32px;
            }
            &__link {
                text-decoration: none;
                @include main-font;
                font-weight: 700;
                color: $text-color;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $button-color;
                }
            }
            &__btn {
                padding: 14px 39px;
                border: 3px solid $button-color;
                margin-left: auto;
                white-space: nowrap;
                text-decoration: none;
                background: #fcb72b;
                @include main-font;
                font-weight: 700;
                color: #ffffff;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover {
                    color: $button-color;
                    background-color: $main-color;
                }
                &:active {
                    transform: scale(0.96);
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .container {
        max-width: 375px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 576px) {
    body {
        text-align: center;
    }
    .navbar {
        padding-top: 64px;
        padding-left: 32px;
        padding-bottom: 24px;
        position: fixed;
        width: 70%;
        height: calc(100% - 73px);
        z-index: 1999;
        background: #333a44;
        top: 73px;
        left: -100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        transition: all 0.3s ease-in-out;
        &.active {
            left: 0;
        }
    }
    .header__burger.active {
        display: block;
        &::before {
            transform: rotate(45deg);
            top: 6px;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: 6px;
        }
    }
    .header__burger.active .header__burger-line {
        transform: scale(0);
    }
    .content {
        justify-content: center;
    }
    .logo__img {
        margin: 0;
    }
    .navbar__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .navbar__link {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: $light-grey;
    }
    .navbar__button {
        margin: 0;
    }
    .header__burger {
        display: block;
        position: absolute;
        text-align: start;
        left: 32px;
        width: 20px;
        height: 16px;
        z-index: 3;
    }
    .header__burger-line {
        position: absolute;
        background-color: $button-color;
        width: 100%;
        height: 4px;
        top: 6px;
        transition: all 0.3s ease;
        border: none;
        outline: none;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        background-color: $button-color;
        width: 100%;
        height: 4px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
}